{% extends 'base.html'%}
{% block content%}



<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">SAVVY STORE</p>
                </div>
            </div>
</header>
<br>
<br>
<br>
<br>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, optio dolor? Sunt, perspiciatis facilis perferendis blanditiis ullam incidunt iusto ipsam reiciendis aliquid. Inventore vel tempore nobis sit tenetur voluptas explicabo!
Voluptate nihil neque numquam ad itaque tempora totam voluptas eos atque in doloribus provident velit veritatis, blanditiis, quasi dolorum ullam? Architecto doloribus excepturi, nesciunt corrupti laborum exercitationem facilis explicabo minus.
Possimus eius nihil culpa labore? Alias error voluptatum placeat iure perferendis aliquam itaque totam, nisi rem ratione aliquid veniam, magnam accusantium. Id minima veritatis cupiditate dolorum voluptatum odio ea recusandae.
Minus at dolor eos cum natus dicta delectus mollitia accusamus numquam quod, consequatur obcaecati exercitationem, quos qui placeat distinctio perferendis totam esse quaerat velit, recusandae hic amet autem illum. Illo!
Hic odit necessitatibus qui in fuga aspernatur cumque molestiae alias temporibus vero, obcaecati nihil aliquid quo velit omnis sequi, eius voluptate dolorum, eveniet tempore? Modi sequi ipsum repudiandae commodi nam.</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}