{% extends 'base.html'%}
{% block content%}



<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Categories</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Choose your category</p>
                </div>
            </div>
</header>
<br>
<br>
<br>
<br>

    <center>
        <div class="category">
    
        {% for category in categories %}
        <a href="{% url 'category' category%}"><h3>{{category}}</h3></a>
        {% endfor %}
        </div>
    </center>

    







<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}